/* ================= MAIN HEADER ================= */

.main-header{
  background:#121224;
  padding:20px 0;
  box-shadow:0 0 30px rgba(123,44,255,0.15);
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

.header-inner{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
}

/* Logo */
.logo{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo img{
  height:55px;
}

.logo-text{
  font-size:26px;
  font-weight:700;
}

.logo-text span{
  background:linear-gradient(90deg,#7b2cff,#00e0ff);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.logo-text div{
  font-size:12px;
  font-weight:400;
  color:#aaa;
  letter-spacing:1px;
}

.logo-sub-text{
  font-size:12px;
  font-weight:400;
}
/* Info Section */
.header-info{
  display:flex;
  gap:50px;
  align-items:center;
}

.info-item{
  display:flex;
  align-items:center;
  gap:12px;
}

.info-icon{
  font-size:26px;
  color:#00e0ff;
}

.info-text h4{
  font-size:17px;
  font-weight:600;
}

.info-text p{
  font-size:13px;
  color:#999;
}

@media(max-width:992px){

  .header-inner{
    flex-direction:column;
    gap:20px;
  }

  .header-info{
    flex-direction:column;
    gap:20px;
    text-align:center;
  }

  .header-info{
    display:none;
  }

}